@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .transition-effect {
    @apply transition-all duration-200 ease-linear;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
