@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .transition-effect {
    @apply transition-all duration-200 ease-linear;
  }
  .overflow-overlay {
    overflow: overlay;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  ::-webkit-scrollbar {
    width: 0.35vw;
    height: 0.35vw;
  }
  ::-webkit-scrollbar-track {
    display: none;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 0.5em;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.2);
  }
  ::-webkit-scrollbar-corner {
    display: none;
  }
}
